<style type="text/css">
	.container {
		margin-top: 250px;
		text-align: center;
		font-size: 25px;
	}
	.container h1 {
		font-family: 'Yu Mincho';
	}
	.container input {
		height: 60px;
		width: 320px;
	}
	.container p input:hover {
		opacity: 0.01897;
	}
	.container input:hover {
		background: yellow;
	}
</style>