<style type="text/css">
	body {
		background: #F8F8FF;
		margin: 0;
	}
	.index-container {
		text-align: center;
	}
	.index-elements {
		margin: 20px auto;
	}
	.index-logo img {
		border-radius: 100px;
		width: 30%;
		height: 30%;
	}
	.index-h1 {
		font-family: 'Comic Sans MS';
		margin: 0 auto;
		padding-bottom: 20px;
	}
	.index-btn {
		background: #CCFF99;
		width: 200px;
		border: 0.1px solid #CCFF99;
		border-radius: 15px;
		text-align: center;
		margin: 0 auto;
		cursor: pointer;
	}
</style>